/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Navigation */
nav {
    background-color: #2C3E50;
    color: white;
    padding: 20px 0;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

/* Header */
header {
    background-color: #E74C3C;
    color: white;
    padding: 50px 0;
}

header img {
    width: 100px;
    border-radius: 50%;
}

/* Portfolio */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 60%;
    margin: auto;
    padding: 20px 0;
}

.grid img {
    width: 100%;
    border-radius: 10px;
}

#about {
    background-color: #E74C3C;
    color: white;
    padding: 50px 20px;
    text-align: center;
}

#about p {
    display: inline-block; /* Les afficher en bloc */
    width: 20%; /* Ajuste la largeur pour qu'ils tiennent sur une ligne */
    vertical-align: middle;
    text-align: start; /* Centrer le texte à l'intérieur */
    margin-bottom: 20px;
    line-height: 1.5;

}

#about div {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espacement entre les paragraphes */
}


/* Formulaire de contact */
form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

input, textarea {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
}

button {
    background-color: #E74C3C;
    color: white;
    border: none;
    padding: 10px;
}

/* Footer */
footer {
    background-color: #2C3E50;
    color: white;
    padding: 20px 0;
    margin-top: 20px;
}
